<div class="tag-chooser">
    <div class="tag-chooser-content">
        <span class="close">&times;</span>
        <div class="tag-picker">
            <span>pick a tag: </span>
            <select id="tags-select">
            </select>
            <button id="btn-add-tag">Add</button>
            <div>
                <a href="#" id="a-show-tag-creater">create a new tag</a>
            </div>
        </div>
        <div class="tag-creater">
            <span>tag name: </span>
            <input type="text">
            <button id="btn-create-and-add">create and add</button>
        </div>
    </div>
</div>