.tag-icon {
    margin: 0.3em;
    padding: 0.7em;
}

.tag-icon-text {
    font-size: 1.3em;
}

.tag-icon a {
    text-decoration: none;
    color: white;
}

.tag-icon-close {
    font-size: 1.5em;
    color: #aaa;
    font-weight: bold;
}

.tag-icon-close:hover,
.tag-icon-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}