{% extends "base/base.html" %}

{% block title %}write note{% endblock %}

{% block styles %}
    {{ super() }}
    {{ simplemde.css }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/tag.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/tag_chooser.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/new_note.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="new-note-form" method="post">
            {{ form.csrf_token }}
            <div class="form-field">
                <input class="form-control" type="text" name="title" placeholder="title..." required>
            </div>
            <div class="form-field">
                <textarea name="body" id="editor"></textarea>
            </div>
            <div class="form-field">
                <div class="tag-icons-display">
                    <span>tags: </span>
                </div>
                <a href="#" id="a-open-tag-chooser">add a tag</a>
            </div>
            <div class="form-field">
                <input class="form-control btn btn-secondary" type="submit" value="post">
            </div>
        </form>
        {% include 'notes/snippets/tag_chooser.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ simplemde.js }}
    {{ simplemde.load_id("editor") }}
    <script src="{{ url_for('static', filename='js/notes/tag_chooser.js') }}"></script>
{% endblock %}
