{% extends "base.html" %}

{% block title %}write note{% endblock %}

{% block css %}
    {{ simplemde.css }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/tag.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/tag_chooser.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/new_note.css') }}">
{% endblock %}

{% block js %}
    {{ simplemde.js }}
{% endblock %}

{% block main %}
    <div class="container">
        <h3>new note</h3>
        <hr>
        <form class="new-note-form" method="post">
            <div class="form-field">
                <input type="text" name="title" required>
            </div>
            <div class="form-field">
                <textarea name="body" id="editor"></textarea>
            </div>
            <div class="form-field">
                <div class="tag-icons-display">
                    <span>tags: </span>
                </div>
                <a href="#" id="a-open-tag-chooser">add a tag</a>
            </div>
            <div class="form-field">
                <input type="submit" value="post">
            </div>
        </form>
    </div>
    {{ simplemde.load_id("editor") }}
    {% include 'notes/snippets/tag_chooser.html' %}
    <script src="{{ url_for('static', filename='js/notes/tag_chooser.js') }}"></script>
{% endblock %}