{% extends "base.html" %}

{% block title %}{{ note.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes/tag.css') }}">
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block main %}
    <h3>view a note</h3>
    <hr>
    <p>title: {{ note.title }}</p>
    <p id="note-body">{{ note.body }}</p>
    <p>{{ note.created_at }}</p>
    <div class="tag-icons-display">
        <span>tags: </span>
        {% for tag in tags %}
            {% include "notes/snippets/tag.html" %}
        {% else %}
            <p>no tags</p>
        {% endfor %}
    </div>

    {% if g.user and g.user._id == note.author_id %}
        <div class="operations">
            <form action="{{ url_for('notes.update_note', note_id=note.id) }}" method="get">
                <input type="submit" value="update">
            </form>
            <form action="{{ url_for('notes.delete_note', note_id=note.id) }}" method="post">
                <input type="submit" value="delete this note">
            </form>
        </div>
    {% endif %}
    <script>
        const note_body = document.querySelector("#note-body");
        note_body.innerHTML = marked(note_body.innerHTML);
    </script>
{% endblock %}