{% extends "auth/auth_base.html" %}

{% block title %}login{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" method="post">
            {{ form.csrf_token }}
            <h1 class="h2 mb-3 font-weight-normal text-center">lbnotes</h1>
            {{ form.username.label(class="sr-only") }}
            {{ form.username(class='form-control', placeholder="username...", autofocus="") }}
            {{ form.password.label(class="sr-only") }}
            {{ form.password(class='form-control', placeholder="password...", autofocus="") }}
            <input class="btn btn-primary btn-block" type="submit" value="login">
        </form>
        <a href="{{ url_for('auth.register') }}">register</a>
        {% block info %}
            {% include 'auth/snippets/info.html' %}
            {% include 'auth/snippets/form_errors.html' %}
        {% endblock %}
    </div>
{% endblock %}